body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.backbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100%;
  height: 110px;
  background-color: #ff8725;
  justify-content: space-between;
  z-index: 10000;
}
header {
  transition: all 0.5s;
}
.menuBar {
  font-family: "NanumSquareNeo-Variable";
  position: absolute;
  display: flex;
  max-width: 100%;
  height: 100%;
  flex: 1 1 auto;
  margin: 0 auto;
}
.menuBar > div {
  display: inline-block;
}
.siteLogo {
  position: relative;
  width: 180px;
  height: 100%;
  text-align: center;
  left: 10px;
  cursor: pointer;
}
.menuList {
  position: absolute;
  display: flex;
  min-width: 1000px;
  left: 240px;
  top: 10px;
}
.menuList > div > div {
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  left: 80px;
  top: 22px;
  padding: 0 5px;
}
.menuList > div:first-child {
  color: white;
  position: relative;
  padding-right: 30px;
  font-size: 17px;
  left: -15px;
}
.sign_btn {
  position: relative;
  width: 400px;
  left: 80vw;
}
.loginBtn_wrap {
  position: absolute;
  top: 32px;
  display: flex;
}
.loginBtn_wrap > div {
  font-family: "NanumSquareNeo-Variable";
  position: relative;
  background-color: white;
  padding: 0 12px;
  border-radius: 20px;
  color: #ff8725;
  cursor: pointer;
  font-size: 15px;
  left: 0px;
  margin-right: 10px;
}
.logoutBtn {
  position: relative;
  left: 20px;
}
.logoutBtn > img {
  filter: invert(100%) sepia(0%) saturate(7422%) hue-rotate(143deg)
    brightness(117%) contrast(95%);
  cursor: pointer;
  width: 24px;
}
.logoutBtn > img:hover {
  transition: transform 300ms;
  transform: scale(1.2);
}
.signUpBtn {
  margin-right: 10px;
}
.menu1 > ul li {
  font-family: "NanumSquareNeo-Variable";
  cursor: pointer;
  margin-right: 12px;
  font-size: 18px;
  top: 44px;
  left: 224px;
  color: white;
}
.menu1 > ul li > a:hover {
  color: rgb(0, 0, 0);
}

.TiThMenu {
  position: absolute;
  top: 25px;
  right: 45px;
}
.username {
  position: relative;
  display: flex;
  font-family: "NanumSquareNeo-Variable";
  max-height: 60px;
  max-width: 400px;
  font-size: 18px;
  color: white;
  left: 0vw;
  top: -4px;
  z-index: 1000;
  text-align: right;
}
.username_span {
  margin-right: 4px;
  margin-top: 4px;
  cursor: pointer;
}
.username_span:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000000;
}
.username2 {
  position: relative;
  top: 24px;
}
.welcome_span {
  margin-top: 4px;
}
.welcome_span1 {
  display: none;
}
.now_location {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 24px;
  left: -300px;
  max-width: 280px;
  max-height: 60px;
  z-index: 999;
}
.now_location2 {
  position: relative;
  top: 42px;
}
.BiCurrentLocation {
  position: relative;
  width: 28px;
  height: 28px;
  color: rgba(243, 243, 243, 0.8);
}
.TestCenter {
  z-index: 999;
  margin-left: 8px;
  position: relative;
  font-size: 1rem;
  color: rgba(243, 243, 243, 0.8);
  display: inline-block;
}
.userBtn {
  display: none;
}
.menuBtn {
  display: none;
}

@media screen and (max-width: 1350px) {
  .welcome_span {
    display: none;
  }
  .welcome_span1 {
    display: block;
    position: relative;
    top: 4px;
  }
}
@media screen and (max-width: 1250px) {
  .now_location {
    display: none;
  }
  .username {
    position: relative;
    top: 24px;
  }
  .loginBtn_wrap {
    left: -80px;
  }
}
@media screen and (max-width: 900px) {
  .username {
    position: relative;
    top: 44px;
    left: -80px;
  }
  .username1 {
    top: -138px;
  }
  .username_span {
    display: none;
  }
  .welcome_span1 {
    display: none;
  }
  .userBtn {
    display: block;
    margin-right: 20px;
  }
  .menuBtn {
    display: block;
    margin-left: 20px;
  }
  .menu1 {
    display: none;
  }
  .menu2 {
    display: block;
    font-family: "NanumSquareNeo-Variable";
    flex-direction: column;
    align-items: flex-start;
    background-color: #ff8725;
    position: relative;
    top: 110px;
    height: 182px;
    color: white;
  }
  .menu2 > ul li {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid white;
    position: relative;
    top: 0;
    width: 100%;
    padding: 12px 0;
    left: 0;
  }
  .menu2 > ul li:last-child {
    border-bottom: 1px solid white;
  }
  .loginBtn_wrap {
    left: -100px;
  }
}
