// 댓글 달기
.write_review_div {
  width: 680px;
  margin-bottom: 20px;
}
.starRate {
  display: inline-block;
  position: relative;
  font-size: 14px;
  top: -6px;
  color: rgb(61, 61, 61);
}
.review_components {
  border: 1px solid rgba(195, 195, 195, 0.858);
  margin-top: -80px;
  margin-left: 4px;
  padding: 10px;
  width: 670px;
  height: 128px;
}
.review_components2 {
  width: 640px;
  margin-top: -48px;
}
.comment_textarea {
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  width: 650px;
  height: 76px;
  left: -2px;
  margin-bottom: 4px;
  border: 0px;
  padding: 8px;
}
.comment_textarea2 {
  width: 574px;
}
.fileupload {
  display: none;
}
.pictureInput {
  position: relative;
  top: 4px;
  width: 28px;
  margin-right: 20px;
  cursor: pointer;
  filter: invert(62%) sepia(1%) saturate(0%) hue-rotate(174deg) brightness(96%)
    contrast(94%);
}
.pictureInput:hover {
  filter: invert(22%) sepia(81%) saturate(17%) hue-rotate(352deg)
    brightness(101%) contrast(80%);
}
.pictureInput2 {
  position: relative;
  top: 78px;
  right: 600px;
}
.writeInput {
  font-family: "NanumSquareNeo-Variable";
  background-color: #ff8725;
  position: relative;
  border-radius: 4px;
  padding: 8px 12px;
  left: 435px;
  top: -6px;
  color: white;
}
.detail_comment {
  margin-bottom: 120px;
}
.userimg {
  display: inline-block;
  height: 150px;
  width: 145px;
  position: relative;
}

// 리뷰 component
.userDiv {
  position: relative;
  border: 1px solid rgba(215, 215, 215, 0.466);
  width: 694px;
  margin-bottom: 12px;
}
.userReview {
  padding: 10px;
}
.usersImg {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.review_nick {
  position: relative;
  font-size: 16px;
  top: -24px;
  left: 10px;
  cursor: pointer;
}
.review_nick:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.userReviewAndHeart {
  position: relative;
  top: -20px;
  left: 52px;
  min-width: 100px;
  width: 100px;
}
.userReviewAndHeart > span {
  font-size: 14px;
  color: gray;
}
.starRateDate {
  display: inline-flex;
  position: relative;
  top: -72px;
  left: 370px;
}
.star-rating2 {
  position: relative;
  margin-top: 64px;
  left: 144px;
}
.star-rating3 {
  position: relative;
  top: 4px;
}
// 이미지 없을 때
.starRateDate2 {
  top: -68px;
}
.createDate {
  margin-top: 4px;
  margin-left: 40px;
}
.image_wrap {
  position: relative;
  top: -20px;
  left: 48px;
}
.imageBox {
  display: inline-block;
}
.imageBox2 {
  position: relative;
  left: 140px;
}
.review_img {
  position: relative;
  width: 120px;
  height: 110px;
  margin-bottom: 40px;
  margin-right: 4px;
}
.image_delete {
  position: relative;
  width: 12px;
  z-index: 100;
  top: -130px;
  left: -24px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.image_delete:hover {
  transform: scale(1.4);
}
.review_content {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  width: 90%;
  left: 48px;
  margin-top: -24px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}
.review_upd_btn {
  position: relative;
  margin-bottom: 10px;
  left: 590px;
}
.review_upd_btn > button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  border: 1px solid rgba(194, 194, 194, 0.45);
  padding: 4px 6px;
}
.review_upd_btn > button:hover {
  background-color: rgb(196, 196, 196);
}
.review_delete_btn {
  margin-left: 4px;
}
.nameContextMenu {
  background: #000;
  color: #fff;
  padding: 0;
  z-index: 9999;
  padding: 6px 0;
  position: absolute;
  margin-top: 40px;
  margin-left: 80px;
  display: inline-block;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.nameContextMenu td {
  padding: 0 !important;
  border: 0 !important;
}
.nameContextMenu a {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  display: block;
  padding: 0 8px;
}
.nameContextMenu a:hover {
  color: red;
}
