.on {
  color: #ff8725;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
}
.off {
  color: #ccc;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
}
.buttt {
  margin-left: 75%;
  position: relative;
  height: 0.1;
  width: 0.1;
}
.star_rate_wrap {
  margin-bottom: -30px;
}
